.container {
  display: grid;
  grid-template-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-rows: 100vh;
  justify-content: space-between;
  
}

.grid-container-left {
  background: url(../app/img/card-left.jpg) no-repeat right;
  background-size: cover;
  color: #ffffff;
  // grid-area: grid-left;
}

.vertical-bar {
  background-color: #f2f2f2;
}

.grid-container-center {
  background: #ffffff;
  // grid-area: grid-center;
}

.grid-container {
  background-color: aqua;
}

.grid-container-right {
  display: grid;
  grid-template-rows: 1fr 5px 1fr;
  grid-template-columns: auto;
  justify-items: space-between;
}

.grid-container-right-top {
  background-color: #bb0a30;
  color: #ffffff;
  // grid-area: grid-right-top;
}

.horizontal-bar {
  background-color: #f2f2f2;
}

.grid-container-right-bottom {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  // grid-area: grid-right-bottom;
}

.grid-container-right-bottom-left {
  background-color: #ffffff;
}
.vertical-bar-left-small {
  background-color: #f2f2f2;
}

.grid-container-right-bottom-right {
  background-color: #ffffff;
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5px 1fr 5px;
    .buttons-content {
      .button-place {
        position: static;
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 1025px) {
  .container {
    grid-template-columns: 1fr 5px 1fr 5px 1fr;
    grid-template-rows: 100vh;
  .grid-container-left {
    grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
  }
  .vertical-bar {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .grid-container-center {
    grid-column-start: 5;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 2;
  }

    .grid-container-right-top {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .buttons-content {
      .button-place {
        position: static;
      }
    }
  }
  
}